*{
	box-sizing: border-box;
}

html{
	position: relative;
	min-height: 100%; /*required for footer*/
	padding-bottom: 40px;
	scroll-behavior: smooth;
}

header .allheader{
	text-align: center;
}



/*footer design below*/
footer{
	border-top: 1px dotted #344341;
	bottom: 0;
	position: absolute;
	left: 0;
	height: 40px;
	overflow: hidden;
	margin-top: 10px;
	width: 100%;
	max-width: 100%;
	background-color: #E9DED3;
	font-size: 16px;
	font-family: arial;
}

footer div{
	margin-left: 4px;
	bottom: 0;
	position: absolute;
	margin-bottom: 9px;
}

/* navbar styling below */
nav .nav ul{
	overflow: hidden;
	background-color: #313038;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	transition-duration: 0.6s;
}

nav .nav ul li{
	display: inline-block;
}


nav .nav ul li a{
	text-decoration: none;
	display: block;
	padding: 10px;	
	font-size: 20px;
	color: #A6B7D2;
	text-align: center;
}

nav .nav ul li a.current{
	text-decoration: none;
	display: block;
	padding: 10px;	
	font-size: 20px;
	color: #DB8994;
	text-align: center;
}

nav .nav.navbar-scroll ul{
	background: #F3F3F3;
	padding: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
	position: fixed;
	top:0;
}

nav .nav.navbar-scroll ul li a{
	color: #454545;
	font-family: arial;
}

nav .nav.navbar-scroll ul li a.current{
	color: #DB8994;
}

nav .nav ul li a:link{
	text-decoration: none;
}


nav .nav ul li a:visited{
	text-decoration: none;
}


nav .nav ul li a:hover{
	background-color: #A25956;
	text-decoration: underline;
}

nav .nav ul li a:active{
	background-color: #F1A446;
}



/* MEDIA QUERIES */
@media(max-width: 800px){

		nav .nav ul li a{
		font-size: 18px;
	}

	footer{
		font-size: 14px;
	}

	footer div{
		margin-bottom: 11px;
	}
}

/* mobile screen size */
@media (min-width: 320px) and (max-width: 480px) {
	nav .nav ul li a{
	padding: 15px;	
	font-size: 30px;
	color: #A6B7D2;
	text-align: center;
}

footer{
	background-color: #E9DED3;
	font-size: 29px;
	font-family: arial;
}


}

