*{
	box-sizing: border-box;
}

html{
	position: relative;
	min-height: 100%; /*required for footer*/
	padding-bottom: 40px;
	scroll-behavior: smooth;
	font-family: avenir;
}

header h1{
	font-size: 300%;
	text-align: center; 
	color: #252dda; 
	font-family: avenir, georgia;
	font-weight: bold;
	padding: 10px;
	line-height: 10px;
}

h1 {
	color: #252dda;
}

button{
	background-color: #252dda;
	color: #fff;
	border-style: none;
	font-size:80%;
}

button:hover{
	background-color: #ffe936;
	color: #252dda;
}

.don_button{
	background-color: #ffe936;
	color: #252dda;
	border-style: none;
	font-family: avenir;
	font-weight: bold;
	padding: 7px;
	border-radius: 4px;
}

.don_button:hover{
	background-color: #252dda;
	color: #ffe936;
}

#city{
	background-color: #252dda;
	color: #fff;
	border: none;
	height: 20px;
}

/*footer design below*/
footer{
	border-top: 1px dotted #344341;
	bottom: 0;
	position: absolute;
	left: 0;
	height: 40px;
	overflow: hidden;
	margin-top: 10px;
	width: 100%;
	max-width: 100%;
	background-color: #e8e8e8;
	font-size: 16px;
	font-family: avenir;
}

footer div{
	margin-left: 4px;
	bottom: 0;
	position: absolute;
	margin-bottom: 9px;
}

/* navbar styling below */
nav .nav ul{
	overflow: hidden;
	background-color: #131a6d;
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
	width: 100%;
	transition-duration: 0.6s;
	z-index: 5;
}

nav .nav ul li{
	display: inline-block;
}


nav .nav ul li a{
	text-decoration: none;
	display: block;
	padding: 10px;	
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
}

nav .nav ul li a.current{
	text-decoration: none;
	display: block;
	padding: 10px;	
	font-size: 20px;
	color: #ffe936;
	text-align: center;
}

nav .nav.navbar-scroll ul{
	background: #F3F3F3;
	padding: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
	position: fixed;
	top:0;
}

nav .nav.navbar-scroll ul li a{
	color: #454545;
	font-family: arial;
}

nav .nav.navbar-scroll ul li a.current{
	color: #252dda;
}

nav .nav ul li a:link{
	text-decoration: none;
}


nav .nav ul li a:visited{
	text-decoration: none;
}


nav .nav ul li a:hover{
	background-color: #ffe936;
	text-decoration: none;
	color: #252dda;
}

nav .nav ul li a:active{
	background-color: #F1A446;
}



/* MEDIA QUERIES */
@media(max-width: 800px){

		nav .nav ul li a{
		font-size: 18px;
	}

	footer{
		font-size: 14px;
	}

	footer div{
		margin-bottom: 11px;
	}
}



/* mobile screen size */
 /*@media (min-width: 320px) and (max-width: 480px) {
/*	nav .nav ul li a{
	padding: 15px;	
	font-size: 30px;
	color: #A6B7D2;
	text-align: center;
}*/

/*TODO: add mobile friendly styles*/

/*footer{
	background-color: #e8e8e8;
	font-size: 29px;
	font-family: arial;
}*/
/**/




@font-face {
    font-family: 'manroperegular';
    src: url('manrope-regular-webfont.woff2') format('woff2'),
         url('manrope-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'manropeextrabold';
    src: url('manrope-extrabold-webfont.woff2') format('woff2'),
         url('manrope-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'manropelight';
    src: url('manrope-light-webfont.woff2') format('woff2'),
         url('manrope-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



